<config>
    <category name="TM">
        <!-- Match PAGC : (uint) 	- (uint) 	- (double) 	- (uint) -->
        <pattern>PAGC : {{uint}}{{skip}}- {{uint}}{{skip}}- {{double}}{{skip}}- {{uint}}</pattern>
        <!-- Match PAOMT : (uint) - (uint) - (uint) - (uint) - (double) - (uint) -->
        <pattern >PAOMT : {{uint}}{{skip}}- {{uint}}{{skip}}- {{uint}}{{skip}}- {{uint}}{{skip}}- {{double}} - {{uint}}</pattern>
    </category>
    <category name="TS VMP">
        <!-- Match TS VMP créée :  (uint)	(uint).(uint).(uint) (uint)	(uint) -->
        <pattern>TS VMP {{skip}}:  {{uint}}{{skip_until_int}}{{uint}}.{{uint}}.{{uint}}{{skip_until_int}}{{uint}}{{skip_until_int}}{{uint}}</pattern>
    </category>
    <category name="Line result">
        <!-- Match resultat départ TUILERIE:  P (double)MW		Q  =   (double)MVAR		S  =   (double)MVA 		I  =   (double)kA-->
        <pattern>resultat {{skip}} {{string}}:{{skip}}P {{double}}MW{{skip}}Q  =   {{double}}MVAR{{skip}}S  =   {{double}}MVA{{skip}}I  =   {{double}}kA</pattern>
    </category>
</config>
